{% extends './adm/template.twig' %}
{% block body %}

	{% for content in html %}
		{{ content | raw }}
	{% endfor %}

	<div class="top-title">
		<a href="{{ route_create }}" class="btn btn-sm btn-primary">
			Novo Contrato
		</a>
		<div>

			<div class="row mt-2">
				<div class="col-xl-12 col-md-12 col-sm-12">
					{% if contratos %}
						<div class="table-responsive">
							<table class="table" id="contrato_table">
								<thead class="thead-dark">
									<tr>
										<th scope="col">Locador</th>
										<th scope="col">Locatario</th>
										<th scope="col">Endereço residência</th>
										<th scope="col">Situação do contrato</th>
										<th scope="col">Ação</th>
									</tr>
								</thead>
								<tbody>

									{% for contrato in contratos %}
										<tr>
											<td>{{ contrato.imovel.locador.nome }}</td>
											<td>{{ contrato.locatario.nome }}</td>
											<td>{{ contrato.imovel.endereco }}</td>
											<td class="fw-bold">{{ contrato.status_contrato == 1 ? '<spam class="badge bg-info"> Ativo </spam>' : '<spam class="badge bg-primary"> Inativo </spam>' }}</td>
											<td>
												<a href="{{ URL_BASE }}admin-catalog-contratoalugueldetalhes/index/{{contrato.id}}" class="btn btn-sm btn-dark" title="visualisar">
													<i class="fas fa-eye"></i>
												</a>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					{% else %}
						<p class="text-center">
							Não há contratos para listar
						</p>
					{% endif %}
				</div>
			</div>


			<script>
				function delet(id, codigo) {
if (confirm("Tem certeza que deseja remover o contrato " + codigo)) {
$.ajax({
type: 'POST',
data: {
'id': id
},
url: `${base_url}admin-catalog-locador/remove/${id}`,
beforeSend: function () {
console.log('removendo...');
},
success: function (response) {
if (! response.success) {
return helper.error({mensagem: response.msg});
}

return helper.success({mensagem: response.msg, reload: true});
},
error: function () {
console.log('erro ao atualizar!');
}
});
}
}
			</script>

			{{js | raw}}
		{% endblock %}
